/* About Us & Blog */

#about-field, #contact-body form {
    height: fit-content;
}

#about-field .play-game {
    float: none;
    width: 100%;
    height: initial;
}

#play-the-game {
    text-align: center;
}

.image-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: inherit !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.image-container:hover .overlay {
opacity: 0.3;
}

#about-field p {
    padding-bottom: 1rem;
}

#about-field h3 {
    padding: 0.5rem 0;
}

#about-field .image-container {
    margin-bottom: 2rem;
}


@media only screen and (min-width: 1050px) {
    body {
        grid-template-columns: 1fr 60rem 1fr;
    }
}

#about-us main {
    margin: 0 auto;
}

#about-us main {
    margin-bottom: 2rem;
}

#display-box img {
    height:initial;
    width: 35%;
    border: 1px solid #41ead4;
    margin-bottom: 2rem;
}

#display-box video {
    border: 1px solid #41ead4;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#display-box {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 1rem;
    float:none;
}

@media only screen and (min-width: 600px) {

    #display-box img {
        height:initial;
        width: 100%;
        border: 1px solid #41ead4;
    }

    #display-box video {
        border: 1px solid #41ead4;
        width: 100%;
        margin-bottom: 2rem;
    }

    #display-box {
        float: right;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 1rem;
    }
}