/* About Us & Blog */

#about-field, #contact-body form {
    height: fit-content;
}

#about-field img, .blog-post-field img {
    float: right;
    width: 20%;
    height:initial;
}

#about-field p, .blog-post-field p {
    padding-bottom: 1rem;
}

#about-field h3 {
    padding: 0.5rem 0;
}


@media only screen and (min-width: 1050px) {
    body {
        grid-template-columns: 1fr 60rem 1fr;
    }
}

#about-us main, #blog-body main {
    margin: 0 auto;
}

#about-us main, #blog-body main {
    margin-bottom: 2rem;
}

.blog-post-field, .blog-post-heading {
    border: 1px solid #41ead4;
    background-color: rgb(12, 15, 10, 0.9);
    margin-bottom: 0.2rem;
} 

.post-name-desc {
    margin-left: 1rem;
}

.blog-post-heading {
    align-items: center;
    padding: 0.5rem;
}

.blog-post-heading h3 {
    margin-left: 2rem;
}