/* ---Forms--- */

form {
    margin: 0 auto;
    width: 90%;
}

input, textarea {
    width: 100%;
    color: black;
}

textarea {
    min-height: 100px;
}

label {
    display: block;
}

#submit-button {
    width: 4rem;
    color: black;
    text-align: center;
}

@media only screen and (min-width: 950px) {
    body {
        grid-template-columns: 1fr 55rem 1fr;
    }
}

#contact-body main {
    margin-bottom: 2rem;
}