/* BASE TYPOGRAPHY
-------------------------------------------- */

/* These are the default styles for the theme */

body {
    line-height: 1.5;
    color: #333;
    font-family: 'Roboto', sans-serif;
}


/* HEADINGS
-------------------------------------------- */
h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1;
}

h2 { 
    font-size: 1.25rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.sidebar h2 {
	margin-top: 0;
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 0;
}

#site-title {
	font-weight: 700;
	font-size: 1.5rem;
	text-align: left;
	margin-bottom: 0;
	margin-left: 1rem;
	max-width: 20rem;
	text-transform: uppercase;
}

#tagline {
	padding-bottom: 0.8em;
	text-align: center;
}

#alt-promotext {
	font-size: 1.5rem;
	text-align: right;
	margin: 2rem 3rem 0 0;
}


/* PARAGRAPHS
-------------------------------------------- */
p { 
    margin: 0 0 1em 0;
}

.intro {
    font-size: 1.375em;
    line-height: 1.5;
    margin-bottom: 1em;
}


/* LINKS
-------------------------------------------- */
a:hover { 
	color: #CFB199;
}

a {
	text-decoration: none;
}

.readmore-btn {
	text-transform: uppercase;
	color: #654634;
}

#main-menu a {
	text-transform: uppercase;
}

/* TABLES
-------------------------------------------- */
table {
    border-collapse: collapse; /* borders are collapsed into a single border when possible */
    border: 1px solid #d4d4d4;
    border-spacing: 0; /* The border-spacing property sets the distance between the borders of adjacent cells - acts as a backup to border-collapse: collapse */
}

tr:nth-child(even) {
	background-color: #ededed;
}

td, th {
	padding: 0.2em 0.33em;
	border: 1px solid #d4d4d4;
	vertical-align: top;
}


/* BLOCKQUOTES
-------------------------------------------- */
blockquote {
  background: transparent url(../images/blockquote.png) no-repeat 0px 6px;
  color: #777;
  display: block;
  font-style: italic;
  margin: 0 0 1.25em;
  text-indent: 2em;
  width: 50%;
  margin-left: 5%;
}

blockquote p {
  line-height: 1.4;
}


/* ADDRESS
-------------------------------------------- */
address {
    display: block;
    margin-bottom: 1em;
}

/* RESPONSIVE
-------------------------------------------- */

@media screen and (min-width: 25.5em) {

	#site-title {
		font-size: 2rem;
		max-width: 23rem;
	}
}

@media screen and (min-width: 60em) {
	
	footer {
		font-size: 1.25rem;
	}
	
}

@media screen and (min-width: 88em) {
	
	/* HEADER */
	#site-title {
		max-width: 26rem;
	}
	
	#homepage-promotext {
		font-size: 1.5rem;
		max-width: 40rem;
		font-style: italic;
	}
	
}

@media screen and (min-width: 100em) {
	
	#main-menu li a {
		font-size: 1.5rem !important;
	}
	
	#main-menu li {
		position: relative;
	}

}